[Desktop Entry]
Name=BitFM
GenericName=File Manager
Comment=Fast, modern native Linux file manager with tabbed browsing and terminal drawer
Exec=bitfm %U
Icon=system-file-manager
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=bitfm
Categories=System;FileTools;FileManager;Qt;
MimeType=inode/directory;
Keywords=folder;manager;explore;disk;filesystem;wayland;files;file;bitfm;

Actions=NewWindow;Root;

[Desktop Action NewWindow]
Name=New Window
Exec=bitfm %U

[Desktop Action Root]
Name=Open as Administrator (Root)
Exec=pkexec bitfm %U
