[Unit]
Description=Portal service (BitFM implementation)
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.impl.portal.desktop.bitfm
Environment="PATH=%h/.local/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/usr/bin/env bitfm --portal
Restart=on-failure

[Install]
WantedBy=graphical-session.target
